<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sy.mapper.EmployeesMapper">
    <select id="check" parameterType="Employees" resultType="Employees">
         select * from employees where employeeName = #{employeeName} and employeePassword = #{employeePassword}
    </select>
</mapper>