<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sy.mapper.EmployeesMapper">
    <select id="check" parameterType="Employees" resultType="Employees">
         select * from employees where employeeName = #{employeeName} and employeePassword = #{employeePassword}
    </select>
    <select id="findVetsByPage" parameterType="Map" resultType="Vets">
        select * from vets limit ${(pageCode-1)*pageSize},${pageSize}
    </select>
    <select id="findAllVets" resultType="int">
        select count(*) from vets
    </select>
    <insert id="createVets" parameterType="Vets">
        insert into vets(vetName) values (#{vetName})
    </insert>
    <insert id="createVetSpecialty" parameterType="Vets">
        insert into vet_specialty(vetId, specialtyId) values (#{vetId},#{specialtyId})
    </insert>
</mapper>