<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sy.mapper.EmployeesMapper">
    <select id="check" parameterType="Employees" resultType="Employees">
         select * from employees where employeeName = #{employeeName} and employeePassword = #{employeePassword}
    </select>
    <select id="findVetsByPage" parameterType="Map" resultType="Vets">
        select * from vets limit ${(pageCode-1)*pageSize},${pageSize}
    </select>
    <select id="findAllVets" resultType="int">
        select count(*) from vets
    </select>
    <select id="findVetsByName" resultType="int">
        select count(*) from vets where vetName like '%${vetName}%'
    </select>
    <select id="findVetsByPageByCondition" parameterType="Map" resultType="Vets">
        select * from vets where vetName like '%${vetName}%' limit ${(pageCode-1)*pageSize},${pageSize}
    </select>
    <insert id="createVets" parameterType="Vets">
        insert into vets(vetName) values (#{vetName})
    </insert>
    <insert id="createVetSpecialty" parameterType="vetSpecialty">
        insert into vet_specialty(vetId, specialtyId) values (#{vetId},#{specialtyId})
    </insert>
    <select id="findNewVetId" resultType="int">
        select max(vetId) from vets
    </select>
    <select id="findVetInfoByVetId" parameterType="int" resultMap="VetInfoResultmap">
        select * from vets inner join vet_specialty v on vets.vetId = v.vetId inner join specialties s on v.specialtyId = s.specialtyId where vets.vetId = #{vetId}
    </select>
    <resultMap id="VetInfoResultmap" type="Vets" autoMapping="true">
        <id property="vetId" column="vetId"/>
        <collection property="list" ofType="VetSpecialty" autoMapping="true">
            <association property="specialties" javaType="Specialties" autoMapping="true">
                <id property="specialtyId" column="specialtyId"/>
            </association>
        </collection>
    </resultMap>
    <select id="findAllSpecialties" resultType="Specialties">
        select * from specialties
    </select>
</mapper>