<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.sy.mapper.ownersMapper">
    <!--浏览宠物主人的信息-->
    <!--private int ownerId;-->
    <!--private String ownerName;-->
    <!--private String ownerAddress;-->
    <!--private String ownerCity;-->
    <!--private String ownerTelephone;-->
    <select id="CheckAllOwnersMsg" parameterType="Map" resultType="Owners">
          select * from owners limit ${(pageCode-1)*pageSize},${pageSize}
    </select>

    <select id="findAllCount" resultType="int">
        select COUNT(*) from owners
    </select>

    <select id="findOwnersById" parameterType="int" resultType="Owners">
        select * from owners where ownerId = #{ownerId}
    </select>

    <select id="CheckOwnersMsgByPetsId" parameterType="int" resultMap="ownersResultMap">
        select * from owners o join pets p on o.ownerId = p.ownerId   where petId=#{petId}
    </select>

    <resultMap type="com.sy.pojo.Owners" id="ownersResultMap" autoMapping="true">
        <id property="ownerId" column="ownerId"/>
        <collection property="petsList" ofType="Pets" autoMapping="true">
            <id property="petId" column="petId"/>
        </collection>
    </resultMap>

    <!--更新宠物主人的信息-->
    <update id="UpdateOwners" parameterType="Owners">
       update owners set ownerName = #{ownerName},ownerAddress = #{ownerAddress},ownerCity = #{ownerCity},ownerTelephone = #{ownerTelephone}
        where ownerId = #{ownerId}
    </update>

    <!--添加新客户-->
    <insert id="CreateOwner" parameterType="Owners">
        insert  into owners
        values (default ,#{ownerName},#{ownerPassword},#{ownerAddress},#{ownerCity},#{ownerTelephone})
    </insert>

    <!--模糊查询主人信息-->

    <select id="findOwnersLike" parameterType="Map" resultType="Owners">
        select * from owners
        where
                ownerName like '%${ownerId}%'
                or ownerAddress like '%${ownerId}%'
                or ownerTelephone like '%${ownerId}%'
                or ownerCity like '%${ownerId}%'
        limit ${(pageCode-1)*pageSize},${pageSize}
    </select>

    <select id="findCountOwnersLike" parameterType="Map" resultType="int">
        select COUNT(*) from owners
        where
                ownerName like '%${ownerId}%'
                or ownerAddress like '%${ownerId}%'
                or ownerTelephone like '%${ownerId}%'
                or ownerCity like '%${ownerId}%'
    </select>

    <!--前台页面更改信息-->
    <!--通过手机号查找主人ID-->
    <select id="findIdByPhone" parameterType="String" resultType="int">
        select ownerId from owners where ownerTelephone=#{ownerTelephone}
    </select>

    <!--新增预定信息-->
    <insert id="CreateOrders" parameterType="Orders">
        insert into orders(ownerId,orderDate,orderStatus,specialtyId,vetId) values ( #{ownerId},#{orderDate},'待审核',#{specialtyId},'1')
    </insert>

    <!--通过手机号查询主人自身所有的信息，用于修改信息-->
    <select id="findOwnerMsgByPhone" parameterType="String" resultType="Owners">
        select * from owners where ownerTelephone =#{ownerTelephone}
    </select>

    <update id="UpdateOwnerMsgByPhone" parameterType="Owners">
        update owners set
                          ownerName = #{ownerName},
                          ownerCity = #{ownerCity},
                          ownerAddress = #{ownerAddress}
        where ownerTelephone = #{ownerTelephone}
    </update>

    <!--&lt;!&ndash;根据主人的ID查询宠物的信息&ndash;&gt;-->

    <!--<select id="findAllOwnersPets" resultType="int">-->
        <!--select * from pets where ownerId = #{ownerId}-->
    <!--</select>-->

    <!--<select id="findPetMsgByOwner" parameterType="Map" resultType="Pets" >-->
        <!--select * from pets where ownerId=#{ownerId} limit ${(pageCode-1)*pageSize},${pageSize}-->
    <!--</select>-->

    <!--<select id="findPetsType" parameterType="int" resultType="String">-->
        <!--select typeName from types where typeId=#{typeId}-->
    <!--</select>-->


</mapper>