<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sy.mapper.PetHospitalMapper">

    <!--根据宠物的Id获取到单个宠物的信息-->
    <select id="findPetsById" resultMap="petInfo">
        select *
        from pets
                 inner join owners o on pets.ownerId = o.ownerId
                 inner join types t on pets.typeId = t.typeId
        where petId = #{petId}
    </select>

    <!--条件查询出符合条件的所有信息数-->
    <select id="findAllCount" parameterType="Map" resultType="int">
        select count(*)
        from pets
                 inner join owners o on pets.ownerId = o.ownerId
                 inner join types t on pets.typeId = t.typeId
        where petName like '%${petName}%'
    </select>

    <!--分页条件查询出符合条件的信息-->
    <select id="findPetsLikeName" parameterType="Map" resultMap="petInfo">
        select *
        from pets
                 inner join owners o on pets.ownerId = o.ownerId
                 inner join types t on pets.typeId = t.typeId
        where petName like '%${petName}%'
        order by petId
        limit ${(pageCode-1)*pageSize},${pageSize}
    </select>

    <resultMap type="com.sy.pojo.Pets" id="petInfo" autoMapping="true">
        <id property="petId" column="petId"/>
        <association property="owners" javaType="com.sy.pojo.Owners" autoMapping="true">
            <id property="ownerId" column="ownerId"/>
        </association>
        <association property="types" javaType="com.sy.pojo.Types" autoMapping="true">
            <id property="typeId" column="typeId"/>
        </association>
    </resultMap>

    <!--根据宠物的Id修改宠物的信息-->
    <update id="updatePets" parameterType="Pets">
        update pets
        set petName     = #{petName},
            petBirthday = #{petBirthday},
            typeId      = #{typeId},
            ownerId     = #{ownerId}
        where petId = #{petId}
    </update>

    <!--插入宠物的信息-->
    <insert id="insertPets" parameterType="Pets">
        insert into pets (petName, petBirthday, typeId, ownerId, petPicture)
        values (#{petName}, #{petBirthday}, #{typeId}, #{ownerId}, #{petPicture})
    </insert>

    <!--分页条件查询出符合条件的就医信息-->
    <select id="findVisitsLikeName" parameterType="Map" resultMap="VisitsInfo">
        select *
        from visits
                 inner join pets p on visits.petId = p.petId
                 inner join vets v on visits.vetId = v.vetId
        where p.petName like '%${petName}%'
           or v.vetName like '%${petName}%'
        limit ${(pageCode-1)*pageSize},${pageSize}
    </select>

    <!--条件查询出符合条件的所有信息数-->
    <select id="findAllVisitCount" parameterType="Map" resultType="int">
        select count(*)
        from visits
                 inner join pets p on visits.petId = p.petId
                 inner join vets v on visits.vetId = v.vetId
        where p.petName like '%${petName}%'
           or v.vetName like '%${petName}%'
    </select>

    <resultMap type="com.sy.pojo.Visits" id="VisitsInfo" autoMapping="true">
        <id property="visitId" column="visitId"/>
        <association property="pets" javaType="com.sy.pojo.Pets" autoMapping="true">
            <id property="petId" column="petId"/>
        </association>
        <association property="vets" javaType="com.sy.pojo.Vets" autoMapping="true">
            <id property="vetId" column="vetId"/>
        </association>
    </resultMap>

    <!--插入就医信息-->
    <insert id="insertVisits" parameterType="Visits">
        insert into visits (petId, vetId, visitDate, description)
        values (#{petId}, #{vetId}, #{visitDate}, #{description})
    </insert>

    <!--获取到所有的类型信息-->
    <select id="findTypes" resultType="Types">
        select t.typeId, t.typeName
        from types t
    </select>

    <!--获取到所有的主人信息-->
    <select id="findOwners" resultType="Owners">
        select o.ownerId, o.ownerName
        from owners o
    </select>

    <!--获取到所有宠物信息-->
    <select id="findPets" resultType="Pets">
        select p.petId, p.petName
        from pets p;
    </select>

    <!--获取到所有兽医信息-->
    <select id="findVets" resultType="Vets">
        select v.vetId, v.vetName
        from vets v;
    </select>

    <!--根据主人的名称和手机号获取主人的名称和密码-->
    <select id="findOwnerInfoByNameOrPhone" parameterType="String" resultType="Owners">
        select o.ownerName, o.ownerPassword, o.ownerTelephone
        from owners o
        where o.ownerName = #{LoginInfo}
           or o.ownerTelephone = #{LoginInfo}
    </select>

    <select id="findOrders" resultMap="orderInfo" parameterType="Map">
        select *
        from orders o
        inner join owners o2 on o.ownerId = o2.ownerId
        inner join vets v on o.vetId = v.vetId
        inner join specialties s on o.specialtyId = s.specialtyId
        where
        <if test="orderStatus == null">
            o.orderStatus =#{orderStatus}
            or o2.ownerName like '%${condition}%'
            or v.vetName like '%${condition}%'
        </if>

        <if test="orderStatus != null">
            o2.ownerName like '%${condition}%'
            or v.vetName like '%${condition}%'
        </if>

    </select>

    <resultMap id="orderInfo" type="Orders" autoMapping="true">
        <id property="orderId" column="orderId"/>
        <association property="owners" javaType="Owners" autoMapping="true">
            <id property="ownerId" column="ownerId"/>
        </association>
        <association property="vets" javaType="Vets" autoMapping="true">
            <id property="vetId" column="vetId"/>
        </association>
        <association property="specialties" javaType="com.sy.pojo.Specialties" autoMapping="true">
            <id property="specialtyId" column="specialtyId"/>
        </association>
    </resultMap>
</mapper>
